*{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;

}
.container{
    width:100%;
    min-height: 100vh;
    background:linear-gradient(135deg,#d7b9b9,#bd1d52);
    padding:10px;


}
.card{
    width:400px;
    height:450px;
    margin:100px auto 0;
    perspective:1000px;
    
    
}
.card-inside{
    width:100%;
    height:100%;
    position:relative;
    transition:transform 1s;
    transform-style: preserve-3d;
}
.front{
    width:100%;
    height:100%;
    border-radius:15px;
    padding:60px 40px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    



}
.front, .back{
    width:100%;
    height:100%;
    border-radius:15px;
    position:absolute;
    backface-visibility:hidden;

}
.front{
    background:url(user1.jpg);
    background-size: cover;
    background-position: center;
}
.front h2{
    font-weight:5oopx;
    color:whitesmoke;
}
.front p{
    color:aliceblue;
    font-size:15px;
}
.front button{
    width:120px;
    border:1px solid #fff;
    background: transparent;
    border-radius:50px;
    padding:8px 20px;
    cursor:pointer;
    margin-top:20px;
    color:white;
}
.back{
    background:#fff;
    color:#333;
    padding:20px 40px;
    transform:rotateY(180deg);
}
.back h1{
    font-size: 40px;
    line-height: 55px;
    margin-bottom:10px;

}
.back span{
    font-size:40px;
    
}

.back p{
    font-size:15px;
    font-weight: 0.5px;
}
.back img{
    width:100px;
}
.row{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    
}
.col{
    flex:1;
    text-align: center;
    color:#555;
    font-size:12px;
    position:relative
}
.col h2{
    font-size:15px;
}
.col::after{
    content:'';
    width:1.5px;
    height:20px;
    background:#710e03;
    position:absolute;
    top:5px;
    right:0;
}
.col:last-child::after{
    display:none;
}
.col p{
    margin-top:5px;
}
.back button{
    background:#bd1d52;
    color:#fff;
    border:0;
    outline:0;
    padding:10px 30px;
    border-radius:30px;
    font-size:18px;
    margin-right:15px;
    margin-bottom:10px;
    box-shadow:0 8px 10px #cb3567;
}
.back a{
    width: 50px;
    height:50px;
    border-radius:50%;
    box-shadow: #333;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom: 0px;

    
}
.back a img{
    width:100%;
}
.card:hover .card-inside{
    transform: rotateY(180deg);
}

@media(max-width:400px){
    .card{
        padding:30px,20px;
    }
}
